.flow-container {
  position: relative;
  width: 100%;
  height: 100vh;
  /* background: #f8f9fa; */
}

.flow-node {
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 80px;
  border: 2px dotted #0056b3;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.flow-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Prevent mouse events on lines */
  z-index: 0;
}

.node-actions {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

.controls {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  gap: 10px;
}

.start {
  display: flex;
  place-content: center;
  place-items: center;
  width: 100%;
  height: 100%;
  background: blue;
  color: lightblue;
}

.add {
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  width: 48px;
  height: 48px;
  background: green;
  color: lightgreen;
  border-radius: 50%;
  cursor: pointer;

  &::after {
    position: absolute;
    content: '';
    top: 50;
    right: 0;
    width: 200px;
    height: 3px;
    background: lightgray;
    z-index: -10;
  }
}

.condition {
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  background: lightgoldenrodyellow;
  color: green;  
  
  &::after {
    position: absolute;
    content: '';
    top: 50;
    right: 0;
    width: 200px;
    height: 3px;
    background: lightgray;
    z-index: -10;
  }
}


.if {
  position: relative;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  background: yellow;
  color: green;  
  
  &::after {
    position: absolute;
    content: '';
    top: 50;
    right: 0;
    width: 200px;
    height: 3px;
    background: lightgray;
    z-index: -10;
  }
}